mod-gsoap-isapi/samples/calc_soap12/calc-soap12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="Calculator" 
targetNamespace="http://tempuri.org/" 
xmlns:tns="http://tempuri.org/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:ns="urn:calc"
>

	<types>
		<schema targetNamespace="urn:calc"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:calc"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<!-- operation request element -->
			<element name="add">
				<complexType>
					<sequence>
						<element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__add::a -->
						<element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__add::b -->
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="addResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:double" minOccurs="0" maxOccurs="1"/>
						<!-- ns__add::result -->
					</sequence>
				</complexType>
			</element>
			<!-- operation request element -->
			<element name="sub">
				<complexType>
					<sequence>
						<element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__sub::a -->
						<element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__sub::b -->
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="subResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:double" minOccurs="0" maxOccurs="1"/>
						<!-- ns__sub::result -->
					</sequence>
				</complexType>
			</element>
			<!-- operation request element -->
			<element name="mul">
				<complexType>
					<sequence>
						<element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__mul::a -->
						<element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__mul::b -->
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="mulResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:double" minOccurs="0" maxOccurs="1"/>
						<!-- ns__mul::result -->
					</sequence>
				</complexType>
			</element>
			<!-- operation request element -->
			<element name="div">
				<complexType>
					<sequence>
						<element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__div::a -->
						<element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__div::b -->
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="divResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:double" minOccurs="0" maxOccurs="1"/>
						<!-- ns__div::result -->
					</sequence>
				</complexType>
			</element>
			<!-- operation request element -->
			<element name="pow">
				<complexType>
					<sequence>
						<element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__pow::a -->
						<element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/>
						<!-- ns__pow::b -->
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="powResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:double" minOccurs="0" maxOccurs="1"/>
						<!-- ns__pow::result -->
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="addRequest">
		<part name="Body" element="ns:add"/>
		<!-- ns__add::ns__add -->
	</message>

	<message name="addResponse">
		<part name="Body" element="ns:addResponse"/>
	</message>

	<message name="subRequest">
		<part name="Body" element="ns:sub"/>
		<!-- ns__sub::ns__sub -->
	</message>

	<message name="subResponse">
		<part name="Body" element="ns:subResponse"/>
	</message>

	<message name="mulRequest">
		<part name="Body" element="ns:mul"/>
		<!-- ns__mul::ns__mul -->
	</message>

	<message name="mulResponse">
		<part name="Body" element="ns:mulResponse"/>
	</message>

	<message name="divRequest">
		<part name="Body" element="ns:div"/>
		<!-- ns__div::ns__div -->
	</message>

	<message name="divResponse">
		<part name="Body" element="ns:divResponse"/>
	</message>

	<message name="powRequest">
		<part name="Body" element="ns:pow"/>
		<!-- ns__pow::ns__pow -->
	</message>

	<message name="powResponse">
		<part name="Body" element="ns:powResponse"/>
	</message>

	<portType name="calcPortType">
		<operation name="add">
			<documentation>Service definition of function ns__add</documentation>
			<input message="tns:addRequest"/>
			<output message="tns:addResponse"/>
		</operation>
		<operation name="sub">
			<documentation>Service definition of function ns__sub</documentation>
			<input message="tns:subRequest"/>
			<output message="tns:subResponse"/>
		</operation>
		<operation name="mul">
			<documentation>Service definition of function ns__mul</documentation>
			<input message="tns:mulRequest"/>
			<output message="tns:mulResponse"/>
		</operation>
		<operation name="div">
			<documentation>Service definition of function ns__div</documentation>
			<input message="tns:divRequest"/>
			<output message="tns:divResponse"/>
		</operation>
		<operation name="pow">
			<documentation>Service definition of function ns__pow</documentation>
			<input message="tns:powRequest"/>
			<output message="tns:powResponse"/>
		</operation>
	</portType>

	<binding name="calc" type="tns:calcPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="add">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal" parts="Body"/>
			</input>
			<output>
				<soap12:body use="literal" parts="Body"/>
			</output>
		</operation>
		<operation name="sub">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal" parts="Body"/>
			</input>
			<output>
				<soap12:body use="literal" parts="Body"/>
			</output>
		</operation>
		<operation name="mul">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal" parts="Body"/>
			</input>
			<output>
				<soap12:body use="literal" parts="Body"/>
			</output>
		</operation>
		<operation name="div">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal" parts="Body"/>
			</input>
			<output>
				<soap12:body use="literal" parts="Body"/>
			</output>
		</operation>
		<operation name="pow">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal" parts="Body"/>
			</input>
			<output>
				<soap12:body use="literal" parts="Body"/>
			</output>
		</operation>
	</binding>

	<service name="calc">
		<documentation>gSOAP 2.8.83 generated service definition for soap1.2</documentation>
		<port name="calc" binding="tns:calc">
			<soap12:address location="http://zzyyu01.microfocus.com/gsoap/mod_gsoap.dll?calc_soap12"/>
		</port>
	</service>

</definitions>